<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layout.css') }}">
   </head>
   <body>
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <h2>Upload Menu</h2>
         <input type="file" name="menu" />
         <h2>Upload Logo</h2>
         <input type="file" name="logo" />
         <h2>Enter Email</h2>
         <input type="email" name="email" required/>
         <input type = "submit"/>
      </form>   
   </body>
</html>