<html>
	<head>
		<script src="https://kit.fontawesome.com/b280d35f25.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layout.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/qrcode_layout.css') }}">
	</head>
   <body>
			<a href="{{url_for('display_subdirectory', url_subdirectory=context['url_subdirectory'])}}">
				<img class="qrcode" src="{{url_for('static', filename = context.filename)}}"/>
			</a>
   </body>
</html>
